// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  // Insert your own theme rules here
  
 // CABECERA
  #Horizontal_Head_Iluminati {
  
 	background-color: black;
 		
 }


  #verticalTT {
  	
  	& .v-button{
		background: orange !important;
		color: black;	
		border: none;
		margin-left: 0.3em;
		margin-right: 0.3em;
		}
	
	& .v-label{
		color: orange;
		}
	}


  .mystyle {
  	
  	background: black !important;	

  }
 
 .margenesO {
 	margin-left: 13%;	
 }
 
 .botonesOfertas {
 	background: orange !important;
	color: black;	
	border: 0;
	margin-top: 3em;
	margin-left: 2em;
	margin-right: 2em;
	height: 100px;
	width: 100px;
	border-radius: 25px;
	padding: 0px;
	font-weight: bold;
 		
 }

#iconos {
	
	margin-left: 12%;	
}




 // BARRA MENU NAV
 
  #Barra_Menu {
		
	background-color: white;
	border-radius: 15px;
	padding: 0.5em;
	
	position: absolute;
	
	margin-top: 10%;
	margin-left: auto;
	margin-bootom: auto;
	margin-right: auto;
	
	& .v-button {
		background: black;
		color: white;	
		margin-left: 0.3em;
		margin-right: 0.3em;
	}

			
  }
 
 
 
 // BARRA MENU LATERAL
 
   #Menu_Lateral {
   	background-color: black;
   	
   	& .v-csslayout {
   		background-color: #FF8000;
   		border: none;	
   		
   	  	& .v-button {
		  color: black;	
		  
			&:hoover {
				background: #FE9A2E;	
			}  
			&:focus {
	    		background-image: none;
	    		background-color: #e9e9e9;
			}
	
			&:active {
	    		background-image: none;
	    		background-color: #e9e9e9;
			}
	 	}
	 
	 	& .v-icon {
	 		color: black;	
	 	}
   	 } 	
  }
  
   #Menu_Lateral2 {
   	background-color: black;	
   }
 
 
 
 // FIN
 }
